@charset "utf-8";

div.y-content {
    display: none;
    opacity: 0;
    transition: 1.5s;
}
div.y-content.active {
    display: block;
    opacity: 1;
}
div.y-content img {
    width: 100%;
}
div.y-content h3 {
    text-align: center;
}
div.y-content iframe {
    display: block;
    width: 100%;
    min-height: 180px;
    background: transparent url("../img/loading.gif") no-repeat center;
}



footer {
    height: 60px;
    line-height:60px;
    background-color: teal;
    color: #eee;
    font-size: 20px;
    text-align: center;
}